/ Sidebar
%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => root_path}
    .sidebar-brand-icon.rotate-n-15
      %i.fas.fa-laugh-wink
    .sidebar-brand-text.mx-3
      Raise Nation
  / Divider
  %hr.sidebar-divider.my-0/
  / Nav Item - Dashboard
  %li{ class: "nav-item #{add_active_class(root_path)}" }
    = link_to root_path, class: 'nav-link' do
      %i.fas.fa-fw.fa-tachometer-alt
      %span Dashboard
  %li{ class: "nav-item #{add_active_class(accounts_path)}"}
    = link_to accounts_path, class: 'nav-link' do
      %i.fas.fa-fw.fa-address-book
      %span Accounts
  %li{ class: "nav-item #{add_active_class(current_account)}"}
    = link_to current_account, class: 'nav-link' do
      %i.fas.fa-fw.fa-cog
      %span Settings
