%nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    %i.fa.fa-bars
  %form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
    = render "layouts/shared/search_field"
  / Example single danger button
  .btn-group.pull-left
    %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      = current_account.organisation_name
    .dropdown-menu
      - accounts_without_current(10).each do |account|
        = link_to account.organisation_name, settings_update_current_account_path(id: account.id), class: "dropdown-item", method: :put
      .dropdown-divider
      = link_to "Create a New Account", "#", class: "dropdown-item"

  %ul.navbar-nav
    = render "layouts/shared/search_dropdown"
    = render "layouts/shared/notifications"
    = render "layouts/shared/messages"
    .topbar-divider.d-none.d-sm-block
    = render "layouts/shared/user_nav"
