.row.justify-content-md-center
  .col-md-6
    %br
    %br
    = bootstrap_form_for current_user, url: settings_profile_index_path, method: :post do |f|
      = f.text_field :first_name, class: "form-control"
      = f.text_field :last_name, class: "form-control"
      = f.email_field :email, class: "form-control"
      = f.password_field :current_password, class: "form-control"
      = f.password_field :password, class: "form-control"
      = f.password_field :password_confirmation, class: "form-control"
      = f.submit "Save", class: "btn btn-primary btn-lg btn-block"
%br
%br
