%nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    %i.fa.fa-bars
  %form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
    = render "layouts/sb_admin_shared/search_field"
  %ul.navbar-nav.ml-auto
    = render "layouts/sb_admin_shared/search_dropdown"
    = render "layouts/sb_admin_shared/notifications"
    = render "layouts/sb_admin_shared/messages"
    .topbar-divider.d-none.d-sm-block
    = render "layouts/sb_admin_shared/user_nav"
