%h1.h3.mb-2.text-gray-800 Account Page
%p
  %strong
    Organisation name:
  = @account.organisation_name
%p
  %strong
    Account owner:
  = "#{@account.owner.full_name} (#{@account.owner.email})"

= render 'user_listing', users: @users
= render 'nations_listing', nations: @nations
= render 'raisely_campaigns_listing', campaigns: @campaigns
= render 'invite_user_modal', user_invite_form: @user_invite_form
